/* Random Quote Generator Styles */

body {
  font-family: 'Playfair Display', serif;
  background-color: rgba(0, 255, 255, 0.253);
}

#quiz-box {
  position: absolute;
  top: 20%;
  left: 10%;
  right: 10%;
  width: 80%;
  line-height: .5;
}

.quiz {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.1;
  position: relative;
  margin: 0;
}

.source {
  font-size: 1.25rem;;
  letter-spacing: 0.05em;
  line-height: 1.1;
  text-align: right;
  margin-right: 4em;
}

.source:before {
  content: "—";
}

.citation {
  font-style: italic;
}

.citation:before {
  content: ", ";
  font-style: normal;
}

.year:before {
  content: ", ";
  font-style: normal;
}

.btn {
  width: 12em;
  display: inline-block;
  bottom: 150px;
  border-radius: 4px;
  border: 2px solid #000;
  color: #fff;
  background-color: rgba(226, 107, 107, 0.637);
  padding: 15px;
  margin: 10px;
  transition: .5s ;
  text-decoration: none;
}
.btn:hover {
  background-color: transparent;
  color: #000;
}

.btn:focus {
  outline: none;
}

.correct{
  border: green solid 3px;
  color:green;
  padding:20px 150px;
  margin-left:115px;
  font-size:32px;
}

.incorrect{
  border: red solid 3px;
  color:red;
  padding:20px 150px;
  margin-left:115px;
  font-size:32px;
}

.score{
  font-size: 2rem;
  margin-left:240px;
}

.final-score{
  font-size: 2rem;
  margin-left:175px;
}

.reset-text{
  font-size: 2rem;
  margin-left:50px;
}

.second-form{
  margin-left:100px;
}